@import '@fontsource-variable/nunito-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .default-theme {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 72.2% 50.6%;
        --primary-foreground: 0 85.7% 97.3%;
        --primary-900: 226 100% 23%;
        --primary-800: 226 89% 31%;
        --primary-700: 246 79% 40%;
        --primary-600: 236 70% 50%;
        --primary-500: 229 96% 61%;
        --primary-400: 212 100% 70%;
        --primary-300: 236 100% 79%;
        --primary-200: 236 100% 88%;
        --primary-100: 222 100% 96%;
        --primary-50: 0 100% 99%;
        --secondary: 0, 0%, 50%;
        --secondary-900: 226 100% 23%;
        --secondary-800: 226 89% 31%;
        --secondary-700: 246 79% 40%;
        --secondary-600: 236 70% 50%;
        --secondary-500: 229 96% 61%;
        --secondary-400: 212 100% 70%;
        --secondary-300: 236 100% 79%;
        --secondary-200: 236 100% 88%;
        --secondary-100: 222 100% 96%;
        --success-800: 163 100% 15%;
        --success-700: 164 100% 23%;
        --success-500: 164 100% 31%;
        --success-300: 164 45% 69%;
        --success-200: 162 46% 90%;
        --secondary-foreground: 0 85.7% 97.3%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --warning: 38 92% 50%;
        --warning-800: hsla(50, 100%, 23%, 100%);
        --warning-700: hsla(50, 100%, 37%, 100%);
        --warning-500: hsla(50, 100%, 50%, 100%);
        --warning-300: hsla(50, 100%, 80%, 100%);
        --warning-200: hsla(51, 100%, 95%, 100%);
        --warning-foreground: 48 96% 89%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 72.2% 50.6%;
        --radius: 0.5rem;
        --focus: 0, 100%, 50%, 0.6;
        --focus-2: 0, 100%, 50%, 0.2;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* Loading Animation */
@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.loader {
    span:nth-child(1) {
        animation: fadeInOut 2s linear infinite;
        animation-delay: 0s;
    }

    span:nth-child(2) {
        animation: fadeInOut 2s linear infinite;
        animation-delay: 0.4s;
    }

    span:nth-child(3) {
        animation: fadeInOut 2s linear infinite;
        animation-delay: 0.9s;
    }

    span:nth-child(4) {
        animation: fadeInOut 2s linear infinite;
        animation-delay: 1.4s;
    }
}
